@import 'normalize';
@import 'slick';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');


* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  // outline: 1px solid red; //temp
}

body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  line-height: normal;
  font-size: 2.25rem;
  background-color: #302c42;

  h1 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-size: 1.625rem;
    font-weight: 700;
    line-height: normal;
  }

  h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-size: 1.625rem;
    font-weight: 300;
    line-height: normal;
  }

  .sliderBtn_container {
    position: absolute;
    width: 3.875rem;
    height: 3.875rem;
    background: rgba(14, 14, 14, 0.32);
    border-radius: 100%;
    user-select: none;
    cursor: pointer;
    &:active {
      transform: scale(0.98);
      background: rgba(14, 14, 14, 0.5);
    }

    .sliderBtn {
      display: flex;
      align-items: center;
      justify-content: center;

      position: absolute;

      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 2.75rem;
      height: 2.75rem;
      border-radius: 100%;
      background: linear-gradient(268deg, #c0b7e8 -0.6%, #8176af 98.31%);
    }
  }
}

.hero {
  .hero__slogan {
    width: fit-content;
    margin: 0 auto 2.25rem auto;
    text-transform: capitalize;
    color: #fff;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    line-height: 3rem;

    span:first-of-type {
      font-size: 2.25rem;
      background: linear-gradient(92deg, #c0b7e8 -1.02%, #8176af 36.25%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      color: #0b2349;
    }
    span:last-of-type {
      font-size: 2rem;
      background: linear-gradient(269deg, #c0b7e8 -3.72%, #8176af 82.17%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .gradientText {
      font-weight: 700;
    }
  }

  .hero__btn {
    display: block;
    margin: 0 auto 3.31rem auto;
    width: 18.25rem;
    height: 3.25rem;
    border: none;
    border-radius: 2.5rem;
    background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
    color: #343045;

    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;

    cursor: pointer;

    &:active {
      transform: scale(0.985);
    }
  }
}

//todo горизонтальный скролл, logo.svg стал больше, проверить на 390-

@import 'media390-';
@import 'media391-719';
@import 'media720+';
